[2019-09-17 18:41] PauloGoncalvesBH opened #1 "Create test"

[2019-09-17 18:42] PauloGoncalvesBH opened #2 "Implement CI - GitHub Actions"

[2019-09-17 18:43] PauloGoncalvesBH opened #3 "Implement API documentation, like swagger UI"

[2019-09-17 18:44] PauloGoncalvesBH opened #4 "Implement mongoDB instead json file"

[2019-09-17 18:46] PauloGoncalvesBH opened #5 "Implement request body validation"

[2019-09-17 19:00] PauloGoncalvesBH opened #6 "Publish API on free page"
Need analysis where to post.
 GitHub Page? Heroku?

Attention; Deploy need to be a step on CI. #2

[2020-03-19 01:54] #6 closed

[2020-03-19 01:55] #4 closed

[2020-03-24 18:23] fejsrodrigues opened #9 "Falta aspas no json de autenticação na documentação"
** Falta aspas no json de autenticacao **
Na documentação do projeto, o json de autenticação esta faltando aspas na cabeçalho do atributo.

**Reproduzir**
Etapas para reproduzir o comportamento:
1. Abrir documentação
2. e ir no item "Passando o seguinte corpo:"

pois esta:

[code]

para funcionar no meu foi necessário por aspas. conforme abaixo:

[code]

[2020-03-24 18:31] fejsrodrigues opened #10 "Adicionar execução via Docker"
**Sua solicitação de recurso está relacionada a um problema? Por favor descreva.**
Não!

**Descreva a solução que você deseja**
Seria legal a inicialização do projeto via docker, ja com uma imagem docker do docker hub, evitando conflitos de versionamento do computadores locais.

[2020-03-24 19:47] #9 closed

[2020-03-25 18:15] PauloGoncalvesBH commented on #10
@fejsrodrigues consegue fazer esse ajuste e abrir um PR?

[2020-03-25 18:23] fejsrodrigues commented on #10
Beleza, vou fazer aqui e ja te mando a PR.

[2020-04-07 19:53] #10 closed

[2020-04-21 04:01] PauloGoncalvesBH opened #12 "Refatoração total"
Refatoração total seguindo os seguintes itens:

- Uso do [express](https://www.npmjs.com/package/express) para request
- Uso de [morgan](https://www.npmjs.com/package/morgan) para log
- Uso de [nedb](https://www.npmjs.com/package/nedb) para manipulação dos arquivos
- Uso de [celebrate](https://www.npmjs.com/package/celebrate) para validação do body. (#5)

Essas alterações vão:
1. Reduzir a quantid

[2020-05-13 21:55] PauloGoncalvesBH commented on #12
O que falta pra FINALIZAR essa issue, que está sendo feita na branch `refatoracao-total`:
Criar a documentação do swagger.

[2020-05-18 02:50] #3 closed

[2020-05-18 02:50] #5 closed

[2020-05-18 02:50] #12 closed

[2020-05-18 02:50] #2 closed

[2020-05-26 15:21] PauloGoncalvesBH commented on #1
Está sendo implementado na branch `criar-testes`.

Libs que serão utilizadas:
- Mocha - execução
- Joi - contrato
- Faker - dados falsos
- Supertest - request
- Chai - validação

[2020-05-26 23:25] uLucasFraga opened #20 "Subir serverest em background via terminal"
**Sua solicitação de recurso está relacionada a um problema? Por favor descreva.**
Nâo considero um problema.
Acredito que seja apenas uma futura _feature_ para melhorar ainda mais o **serverest**.

Hoje, com o comando `npx serverest`, nosso terminal acaba por se "ocupar" até que o servidor seja parado, então, acaba por ser necessário a abertura de outro terminal e/ou aba. Para uma maior facilidad

[2020-05-27 13:22] PauloGoncalvesBH opened #21 "Token de autenticação é lido como válido em sessões diferentes"
### Descrição do bug
Ao gerar um token de autenticação com duração longa (5 minutos) e reiniciar o ServeRest, o token permanece sendo utilizável.

### Comportamento esperado
Que o token seja válido apenas para a sessão existente. Ao reiniciar o ServeRest ele deve ser considerado inváido.

### Descrição técnica
A chave utilizada para gerar o token de autenticação está fixo.
https://github.com/Paulo

[2020-05-28 16:33] PauloGoncalvesBH commented on #20
@uLucasFraga container docker te atenderia totalmente?

[2020-05-28 16:51] PauloGoncalvesBH opened #25 "Implementar entrega contínua (CD)"
**Descreva a solução que você deseja**
Ter entrega contínua.
Ao realizar push para a `master` deve realizar todas as etapas necessárias e publicar no NPM.

**Descreva as alternativas que você considerou**
- Implementar o [Semantic Release](https://github.com/semantic-release/semantic-release) na CI para pushes na branch.
- Remover npm `standard-version`.
- Atualizar o contributing.md e informar so

[2020-05-28 21:15] uLucasFraga commented on #20
@PauloGoncalvesBH. acredito que, _futuramente_, com certeza!
Mas a minha intenção era rodar localmente em máquina mesmo.

[2020-05-29 19:52] doamaral opened #26 "Código de retorno errado quando o método não é suportado pelo recurso"
** Descreva o bug **
Código de retorno errado quando o método não é suportado pelo recurso. O código está 404, quando deveria ser 405 - Method not Allowed

referencias:
https://tools.ietf.org/html/rfc7231#section-6.5.5
https://developer.mozilla.org/pt-BR/docs/Web/HTTP/Status/405

**Reproduzir**
Etapas para reproduzir o comportamento:
1. Enviar DELETE para um Produto
2. Ver o erro

**Comportamento

[2020-05-29 19:53] PauloGoncalvesBH commented on #26
Vou ajustar ainda hoje, muito obrigado

[2020-05-29 20:24] doamaral commented on #26
No caso são todos os métodos que não são permitidos para todos os recursos

[2020-05-30 20:22] #26 closed

[2020-05-30 20:25] PauloGoncalvesBH commented on #26
Liberado na v2.1.2.

[2020-06-02 04:51] #1 closed

[2020-06-06 19:17] #21 closed

[2020-06-07 05:01] PauloGoncalvesBH opened #30 "Implementar badge - Semantic release"
**Sua solicitação de recurso está relacionada a um problema? Por favor descreva.**
Uma descrição clara e concisa de qual é o problema. Ex. Fico sempre frustrado quando [...]

**Descreva a solução que você deseja**
Uma descrição clara e concisa do que você deseja que aconteça.

**Descreva as alternativas que você considerou**
Uma descrição clara e concisa de qualquer solução ou recurso alternativo

[2020-06-07 05:11] #25 closed

[2020-06-07 05:29] #30 closed

[2020-06-09 00:14] PauloGoncalvesBH opened #36 "Erro 'entity.parse.failed' ao usar CURL"
**Descreva o bug**
Ao realizar a seguinte request:
`curl --request POST --header "Content-Type: application/json" --data "{'nome':'Lucas Amaral', 'email':'qarentena@email.com', 'password':'123457', 'administrador':'false'}" http://localhost:3500/usuarios`

É retornado o seguinte erro:
`{"error":{"expose":true,"statusCode":400,"status":400,"body":"{'nome':'Lucas Amaral', 'email':'qarentena@email.co

[2020-06-10 16:10] PauloGoncalvesBH opened #41 "Opção de debug"
Opção de debug para que o usuário consiga visualizar os dados da request que chegaram no ServeRest, como header, e body.

Esses dados serão impressos no console.

Para utilizar basta passar `-D` ou `--debug`.

[2020-06-10 16:11] PauloGoncalvesBH opened #42 "Alterar timeout de token de 1 segundo para 10 min"
Alterar timeout de token de 1 segundo para 10 min.

Não há ganhos em timeout tão baixo. Isso acaba dificultando iniciantes em testes de API.

[2020-06-11 05:40] #42 closed

[2020-06-11 05:42] PauloGoncalvesBH commented on #42
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.4.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-12 01:34] PauloGoncalvesBH opened #47 "Disponibilizar no docker hub"
## Disponibilizar o _ServeRest_ no docker hub.

Estando no docker hub será possível que usuários tenham 2 formas de utilizar o serverest, sem serem obrigados instalarem node.

- Incluir informação de uso com docker no README.md
- OPCIONAL: Incluir na entrega contínua o build e disponibilização no docker hub. Pré-requisito do job será criação de release.
     - https://github.com/felixfbecker/seman

[2020-06-12 01:41] PauloGoncalvesBH opened #48 "Criar template de pull request"
## Criar template de pull request

O template de Pull Request servirá de apoio para novos colaboradores conseguirem entregar código de qualidade e adequado para o projeto.

### Inspirações:
- [protractor-helper](https://github.com/wlsf82/protractor-helper/blob/master/.github/PULL_REQUEST_TEMPLATE.md)
- [mocha](https://github.com/mochajs/mocha/blob/master/.github/PULL_REQUEST_TEMPLATE.md)

[2020-06-12 14:24] PauloGoncalvesBH commented on #20
Analisei e não é possível fazer essa implementação.

Não tem como ter uma lib npm executando em background. O que consigo fazer é disponibilizar em docker, o que tira a necessidade de ter node e terminal ocupado.

Será tratado na issue #47.

[2020-06-12 14:24] #20 closed

[2020-06-12 14:28] PauloGoncalvesBH opened #50 "Internationalize ServeRest"
## Internationalize ServeRest

Internationalization will make it possible to increase the number of contributors and users.

Being in Portuguese it is already having 200 daily downloads, with the internationalization the number of downloads should increase considerably.

Besides, there is no project in English that provides REST server in an easy way as the serverest containing the main verbs and

[2020-06-13 14:10] PauloGoncalvesBH opened #52 "Cobertura de código"
Incluir métricas de cobertura de código.

[2020-06-13 16:34] #52 closed

[2020-06-13 16:36] PauloGoncalvesBH commented on #52
:tada: This issue has been resolved in version 2.4.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.4.4)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.4.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-27 10:04] leandromuto commented on #48
I can take this one :)

[2020-06-28 22:05] PauloGoncalvesBH opened #55 "Mover arquivos relacionados à documentação"
_Originally posted by @leandromuto in https://github.com/PauloGoncalvesBH/ServeRest/pull/54#issuecomment-650550187_

Achei muito boa a sugestão do @leandromuto sobre mover arquivos relacionados à documentado para o diretírio `.github` ou para a Wiki (que está desabilitada).

Porém não sei qual seria a melhor opção, e com isso gostaria de iniciar aqui uma discussão.

O único ponto que penso é que d

[2020-06-29 16:46] leandromuto commented on #48
This one can be closed.

[2020-06-29 17:25] #48 closed

[2020-06-29 19:59] PauloGoncalvesBH opened #56 "Rodar os testes em várias versões do Node"
Os testes das pipelines de [entrega contínua](https://github.com/PauloGoncalvesBH/ServeRest/blob/master/.github/workflows/continuous_delivery.yml) e [integração contínua](https://github.com/PauloGoncalvesBH/ServeRest/blob/master/.github/workflows/continuous_integration.yml) são executadas apenas na última versão do Node disponibilizada pela action [setup-node](https://github.com/actions/setup-node

[2020-06-29 20:01] PauloGoncalvesBH commented on #56
@leandromuto Como está interessado em open source, o que acha de atuar nessa issue?

[2020-06-30 09:49] leandromuto commented on #56
@PauloGoncalvesBH eu topo! Começo a mexer assim que possível.

[2020-06-30 21:01] leandromuto commented on #55
@PauloGoncalvesBH about wiki

So, as a project owner, it remains to you to pick one of the options.

Source: https://guides.github.com/features/wikis/

[2020-07-01 14:02] PauloGoncalvesBH commented on #55
@leandromuto, I checked and came to the following conclusion:
1. **CHANGELOG**: It cannot be moved as it is updated automatically by the 'semantic-release' bot.
2. **CONTRIBUTING** and **CODE_OF_CONDUCT**: According to GitHub they must be at the root of the project (current location), in the `docs` directory or in the `.github` directory. As we want to clean up the root and the `docs` directory is

[2020-07-01 14:18] PauloGoncalvesBH commented on #48
@all-contributors please add @leandromuto for doc

[2020-07-01 14:24] PauloGoncalvesBH opened #61 "Reconhecer todos que contribuíram"
Esas issue é basicamente para utilizar o bot do [all-contributors ](https://allcontributors.org/docs/en/bot/usage) e reconhecer todos que colaboraram com o ServeRest.

[2020-07-01 14:25] PauloGoncalvesBH commented on #61
@all-contributors please add @leandromuto for doc

[2020-07-01 14:33] PauloGoncalvesBH commented on #61
@all-contributors please add @leandromuto for doc

[2020-07-01 15:00] PauloGoncalvesBH commented on #61
@all-contributors please add @fejsrodrigues for infra

[2020-07-01 16:27] #61 closed

[2020-07-01 18:29] leandromuto commented on #55
Good catch! I'll take this one!

[2020-07-02 03:19] #55 closed

[2020-07-02 03:23] PauloGoncalvesBH commented on #55
:tada: This issue has been resolved in version 2.5.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.5.2)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-03 03:12] PauloGoncalvesBH commented on #56
@all-contributors please add @leandromuto for infra

[2020-07-03 03:13] #56 closed

[2020-07-03 18:47] PauloGoncalvesBH commented on #26
@all-contributors please add @doamaral for talk and bug

[2020-07-06 21:41] PauloGoncalvesBH commented on #50
Issue ainda não implementada pois ainda não sei como serão as novas rotas.

As alternativas que pensei?
- As rotas  serão alteradas para _br/_ e as novas em inglês vão para _en/_
- As rotas serão todas alteradas para inglês (nome do recurso e o corpo)

Ambas as opções irão gerar breaking change

[2020-07-08 19:45] uLucasFraga opened #72 "Melhorias nas mensagens defaults"
**Sua solicitação de recurso está relacionada a um problema? Por favor descreva.**
Nâo considero um problema.
Acredito que seja apenas uma futura _feature_ para melhorar ainda mais o **serverest**.

Hoje, através de uma possível lib, temos a resposta **default** do tipo:
[code]

**Descreva a solução que você deseja**
A solução seria padronizar as mensagens de erro.

Como podemos ver, as mensagens

[2020-07-09 13:42] PauloGoncalvesBH commented on #72
@all-contributors please add @uLucasFraga for ideas

[2020-07-15 21:09] andreroggeri commented on #20
@uLucasFraga você pode adicionar um `&` no final do seu comando e ele já roda em segundo plano sem precisar alterar a implementação da lib =]

![image](https://user-images.githubusercontent.com/6232673/87596121-f638dc80-c6c5-11ea-81d6-7c31a029bbaf.png)

Para tirar todo o output do npm e da lib, vc pode redireciona-lo para /dev/null com o comando `npx serverest -p 5050 > /dev/null 2>&1 &`

![image]

[2020-07-15 21:10] PauloGoncalvesBH commented on #20
Ótima sugestão @andreroggeri, obrigado por compartilhar

[2020-07-15 21:37] uLucasFraga commented on #20
@andreroggeri opa!

Primeiro de tudo, muito obrigado pela resposta.
Mas então, eu tentei usar isso (_&_) também haha...
Porém, ele acaba por "**travar**" a porta XXXX e o meu terminal.

A porta ok "travar", claro.
Mas a minha intenção seria não "travar" o terminal.

Eu não sei se tem alguma ligação.
Mas estou com **linux** usando o **zsh**.
Na foto abaixo, eu usei o comando e perceba que o meu ter

[2020-07-15 21:44] andreroggeri commented on #20
Então, ele não "travou" o terminal, é que como você usou o primeiro exemplo, o output continua sendo printado na tela e acaba dando essa impressão que está travado, mas o terminal está livre.

Tanto que no cenário do primeiro print, se vc apertar enter vc verá que o terminal está livre para outras operações.

Já no segundo caso, a porta tá sendo usada pq o processo tá rodando em segundo plano. Qua

[2020-07-15 21:45] andreroggeri commented on #20
Pra resolver essa sensação de travar o terminal, vc pode usar o segundo exemplo que eu enviei: `npx serverest -p 5050 > /dev/null 2>&1 &`.

Dessa maneira todo output da aplicação vai ser redirecionado para /dev/null (Que basicamente equivale a descartar todo o output)

[2020-07-15 21:57] uLucasFraga commented on #20
@andreroggeri Ah, não tinha visto o `dev/null`...ele realmente quebrou a sensação anterior! **ufa <3**
Bom, acho que a palavra "**travar**", mesmo entre aspas, não foi muito bem empregada hahahaha..

Era uma sensação de que, mesmo usando o **&**, fosse impossível seguir com os testes via **CI** por ter que dar um **npm** e depois um **mvn** (sim, mudando a linguagem meeeermo! hahahaha)

mas valeu,

[2020-07-24 13:18] uLucasFraga commented on #72
Amazing haha

[2020-07-30 05:40] #72 closed

[2020-07-30 05:44] PauloGoncalvesBH commented on #72
:tada: This issue has been resolved in version 2.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.7.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-03 23:42] PauloGoncalvesBH opened #85 "teste - ajustar release"

[2020-08-04 00:03] PauloGoncalvesBH commented on #85
:tada: This issue has been resolved in version 2.7.3-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/serverest/v/2.7.3-beta.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.7.3-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-04 00:08] #85 closed, assigned to nobody

[2020-08-04 03:11] PauloGoncalvesBH opened #86 "Implementar testes de mutação"
Dica de uso: stryke mutation

https://stryker-mutator.io/stryker/quickstart

[2020-08-04 03:12] PauloGoncalvesBH opened #87 "Não executar log no ambiente de desenvolvimento"
Log da lib Morgan.
Utilizar variável de ambiente para saber se está em produção ou testes.
Isso vai tornar o resultado dos testes mais limpo.

[2020-08-04 03:15] PauloGoncalvesBH opened #88 "Implementar monitoramento"
Ainda necessita de estudos e encontrar ferramenta que sirva a esse propósito.
Implementar monitoramento para entender o comportamento dos usuários.
Exemplo: saber quais rotas os usuários mais consomem, status Code que mais ocorre, ferramenta mais utilizada para chamar o ServeRest (a partir da info no header).

[2020-08-04 03:20] PauloGoncalvesBH opened #89 "Documentar todo o processo de desenvolvimento"
- Adicionar o conteúdo do post "Entrega contínua no ServeRest" no contributing.md: https://github.com/PauloGoncalvesBH/entrega-continua-no-serverest
- Detalhar a questão de que a branch beta gera nova versão com a dist-tag beta.
- Detalhar o conteúdo do changelog (o conteúdo do post esta desatualizado)
- Detalhar bot do codecov

Procurar o máximo de detalhamento possível para o projeto poder ser 1

[2020-08-05 02:05] #87 closed, assigned to nobody

[2020-08-06 20:49] PauloGoncalvesBH opened #92 "Migrar para typescript"
Necessita de refinamento.

[2020-08-09 21:47] #86 closed, assigned to PauloGoncalvesBH

[2020-08-10 20:54] #89 closed, assigned to nobody

[2020-09-04 14:06] PauloGoncalvesBH commented on #88
:tada: This issue has been resolved in version 2.8.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/serverest/v/2.8.0-beta.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.8.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 14:06] PauloGoncalvesBH commented on #89
:tada: This issue has been resolved in version 2.8.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/serverest/v/2.8.0-beta.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.8.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 14:07] PauloGoncalvesBH commented on #86
:tada: This issue has been resolved in version 2.8.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/serverest/v/2.8.0-beta.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.8.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 14:07] PauloGoncalvesBH commented on #87
:tada: This issue has been resolved in version 2.8.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/serverest/v/2.8.0-beta.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.8.0-beta.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 17:32] #88 closed, assigned to nobody

[2020-09-04 17:34] PauloGoncalvesBH commented on #88
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.8.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 17:34] PauloGoncalvesBH commented on #89
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.8.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 17:34] PauloGoncalvesBH commented on #86
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.8.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 17:35] PauloGoncalvesBH commented on #87
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.8.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-14 14:30] brunobatista25 opened #107 "Adicionar imagens dos produtos"
**Solicitação de recurso.**
Comecei a fazer um front para a pi e senti falta de foto dos produtos ao criar a lista de produtos.

**Solução**
Seria legal adicionar o parâmetro de foto do produto, quem usar isso pra front fica melhor visualmente.

[2020-09-14 14:47] brunobatista25 opened #108 "Cross-origin resource sharing não liberado"
**Sua solicitação de recurso está relacionada a um problema? Por favor descreva.**
Quando criei uma aplicação react e axios, E quando tento me conectar com a  sua api acontece o erro de cors, devido não estar liberado, assim não é possível se comunicar localmente pela url http://localhost:3000/qualquer_rota.

**Descreva a solução que você deseja**
Apenas instalar o pacote "cors": "^2.8.5"
e adicio

[2020-09-15 13:20] PauloGoncalvesBH opened #109 "Mensagem de campo vazio está em inglês"
**Descreva o bug**
A mensagem de erro de campo vazio não está traduzido igual as outras mensagens.

**Reproduzir**
Enviar POST em /login com o seguinte corpo:
[code]

O retorno será o seguinte:

[code]

**Comportamento esperado**
A mensagem deve ser traduzida para algo como `email não pode estar em branco`.

**Contexto:**
Versão do ServeRest: 2.9.0

**Descrição técnica**

Ajuste deve ser feito no

[2020-09-16 15:27] PauloGoncalvesBH commented on #109
@all-contributors please add @uLucasFraga for bug

[2020-09-16 15:28] PauloGoncalvesBH opened #112 "Incluir Bruno Batista como contributor"
@all-contributors please add @brunobatista25 for ideas

[2020-09-16 15:29] PauloGoncalvesBH commented on #112
@all-contributors please add @brunobatista25 for ideas

[2020-09-16 15:31] #112 closed, assigned to nobody

[2020-09-16 17:32] uLucasFraga commented on #109
D E M A I S! haha

[2020-09-17 14:10] PauloGoncalvesBH opened #114 "Traduzir mensagem 'must be of type object'"
**Descreva o bug**
A mensagem de erro de que propriedade deve ser objeto não está traduzido igual as outras mensagens.

**Reproduzir**
Enviar POST em /carrinhos com o seguinte corpo:
[code]

O retorno será o seguinte:

[code]

**Comportamento esperado**
A mensagem deve ser traduzida para algo como `X deve ser objeto`.

**Contexto:**
Versão do ServeRest: 2.9.2

**Descrição técnica**

Ajuste deve se

[2020-09-17 15:06] #109 closed, assigned to nobody

[2020-09-17 15:10] PauloGoncalvesBH commented on #109
:tada: This issue has been resolved in version 2.9.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.9.4)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.9.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-17 17:53] uLucasFraga commented on #109
Excelente, @PauloGoncalvesBH.
Obrigado pela rapidez e competência! <3

[2020-09-18 02:43] #114 closed, assigned to nobody

[2020-09-18 04:01] #36 closed

[2020-09-18 04:01] #108 closed, assigned to nobody

[2020-09-18 04:03] PauloGoncalvesBH commented on #36
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.10.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-18 04:03] PauloGoncalvesBH commented on #108
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.10.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-18 04:03] PauloGoncalvesBH commented on #114
:tada: This issue has been resolved in version 2.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.10.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-29 22:26] #92 closed, assigned to nobody

[2020-09-29 22:28] PauloGoncalvesBH commented on #41
Após 1 mês de monitoramento do ServeRest utilizando moesif.com, verifiquei que não há necessidade dessa implementação, pois os usuários estão conseguindo lidar com os erros 4XX, e nenhum erro 5xx ocorre.

[2020-09-29 22:28] #41 closed

[2020-09-30 00:35] PauloGoncalvesBH opened #120 "Implementar error handler"
Uso da lib https://www.npmjs.com/package/express-async-errors

Está sendo implementado pelo @gabriel-pinheiro

[2020-09-30 13:55] PauloGoncalvesBH opened #121 "Criar badge do ServeRest"
Inserir no README.md informação sobre badge do ServeRest, contendo sugestão para as pessoas incluírem em seus projetos.

Acredito que o melhor local é antes da seção '_Empresas que utilizam o ServeRest_', mas fica a seu critério essa implementação.(Podemos discutir sobre na PR)

O texto deve estar em português e deve ter o a badge em si e o código da badge em markdown para o usuário copiar. (é ass

[2020-09-30 18:42] PauloGoncalvesBH opened #122 "Executar os testes de API no pré-push"
**Descreva a solução que você deseja**
Os testes de API são executados apenas na integração e entrega contínua nas Actions do GitHub.
Para garantir qualidade e velocidade é interessante que os testes sejam executados no pré-push, abortando o commit caso os testes e a cobertura de código (executado automaticamente após os testes de API) falhem.

**Descreva as alternativas que você considerou**
No a

[2020-10-01 13:47] eliasreis54 commented on #107
Olá! Tudo bem?
Eu posso implementar essa feature, mas uma dúvida, vocês imaginam que seria apenas um campo string onde seria possível passar a URL da imagem ou o próprio servidor faria o upload da imagem?

Obrigado!

[2020-10-01 14:31] #122 closed, assigned to eliasreis54

[2020-10-01 14:41] PauloGoncalvesBH commented on #107
@eliasreis54 essa sua pergunta é que impediu o desenvolvimento dessa feature ainda kkk
O banco que utilizamos é um arquivo .db básico local, nada de servidor próprio.
Como o @brunobatista25 está fazendo um front, acredito que o ideal seria o front converter essa imagem para base64, passar essa string pro serverest, e na hora de recuperar pro front, o front converteria de volta a imagem.
Então seri

[2020-10-01 15:07] PauloGoncalvesBH opened #131 "alguns workflows não estão rodando em PR de terceiros"
**Sua solicitação de recurso está relacionada a um problema? Por favor descreva.**
Um usuário abriu [determinado pull request](https://github.com/PauloGoncalvesBH/ServeRest/pull/129) e apenas o workflow [continuous_integration.yml](https://github.com/PauloGoncalvesBH/ServeRest/blob/trunk/.github/workflows/continuous_integration.yml) foi executado, enquanto os outros, de teste de mutação, check-lin

[2020-10-01 15:12] PauloGoncalvesBH commented on #131
**IMPORTANTE:** Issue reservada para pessoas que nunca colaboraram ou colaboraram pouco com projetos open source.
Se você for uma delas e tiver QUALQUER dúvida, seja sobre git, github, node, etc, só responder essa issue que te apoio totalmente.
Se você não faz parte do critério citado, irei recusar o seu PR.

[2020-10-01 15:12] PauloGoncalvesBH commented on #121
**IMPORTANTE:** Issue reservada para pessoas que nunca colaboraram ou colaboraram pouco com projetos open source.
Se você for uma delas e tiver QUALQUER dúvida, seja sobre git, github, node, etc, só responder essa issue que te apoio totalmente.
Se você não faz parte do critério citado, irei recusar o seu PR.

[2020-10-01 16:53] eliasreis54 commented on #107
@PauloGoncalvesBH obrigado pelas informações. Eu vou fazer essa feature com o campo da imagem sendo uma string mesmo ok?
Se quiser, pode me colocar nela. :smile:

[2020-10-01 16:56] PauloGoncalvesBH commented on #107
Pronto @eliasreis54, te coloquei como assignee. Não esquece de ajustar os testes e criar novos cenários se preciso.
Qualquer dúvida só dar o grito.
(ps.: A camiseta do hacktoberfest vai fácil aí kkkkk)

[2020-10-01 17:01] vilsonjunior commented on #131
Fala Paulo, tudo blz? Nunca participei de algo open não e tenho dúvidas de até por onde começar...então qualquer coisa vamos nos falando...se eu conseguir encarar e ajudar

[2020-10-01 17:05] PauloGoncalvesBH commented on #131
opa @vilsonjunior, ótima notícia você por aqui meu caro.
Dá uma olhada na documentação de [como contribuir](https://github.com/PauloGoncalvesBH/ServeRest/blob/trunk/.github/CONTRIBUTING.md) (seção _Etapas para contribuir_), lá mostra sobre como preparar o seu ambiente para poder contribuir.
Precisar de apoio pode me chamar por aqui ou pelo linkedin, podemos até fazer call.

[2020-10-01 18:34] eliasreis54 commented on #120
Como esta issue já está sendo implementada, sugiro colocar o @gabriel-pinheiro na task pra dar uma visualização melhor =)

[2020-10-01 19:06] PauloGoncalvesBH commented on #120
Só consigo colocar ele como assignee se comentar a issue. Sem isso não é possível

[2020-10-01 19:11] doamaral commented on #121
Pensei em algo como ![](https://img.shields.io/badge/ServeRest-API-green) Esse texto onde tem "API" pode ser qualquer outro

ou, pra seguir o padrão das outras badges
[![](https://img.shields.io/badge/API-ServeRest-green?style=for-the-badge)](https://serverest.js.org/)
[code]

[2020-10-01 20:20] PauloGoncalvesBH commented on #121
@all-contributors please add @doamaral for doc

[2020-10-01 21:04] gabriel-pinheiro commented on #120
Opa, acabei esquecendo de comentar aqui pedindo o assign, já vou subir o PR

[2020-10-01 23:06] #120 closed, assigned to gabriel-pinheiro

[2020-10-01 23:14] #121 closed, assigned to doamaral

[2020-10-01 23:16] PauloGoncalvesBH commented on #121
:tada: This issue has been resolved in version 2.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.10.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-01 23:16] PauloGoncalvesBH commented on #120
:tada: This issue has been resolved in version 2.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.10.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-01 23:17] PauloGoncalvesBH commented on #122
:tada: This issue has been resolved in version 2.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.10.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-02 01:22] #107 closed, assigned to eliasreis54

[2020-10-02 01:24] PauloGoncalvesBH commented on #107
:tada: This issue has been resolved in version 2.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.11.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-02 01:26] eliasreis54 commented on #47
@PauloGoncalvesBH para essa issue aqui seria legal configurar um travis já né. O que você acha?

[2020-10-02 01:30] PauloGoncalvesBH commented on #47
@eliasreis54 o projeto está todo configurado com o github actions.
Só de commitar na master é feita publicação automática no NPM, gera changelog, coloca label e comentário na issue e PR de tudo que foi publicado.
A ideia era complementar o que existe atualmente no arquivo [.releaserc](https://github.com/PauloGoncalvesBH/ServeRest/blob/trunk/.releaserc.js), configurando a [action de publicar o dock

[2020-10-02 01:33] eliasreis54 commented on #47
Verdade, não tinha me atendado que ta com github actions.
Vou dar uma olhada como fazer essas paradas ai.
Se quiser, pode me colocar nessa task também :smile:

[2020-10-02 01:34] PauloGoncalvesBH commented on #47
Coloquei como assignee. Essa parte de colocar na entrega contínua é um pouco confusa, custei a pegar. Se precisar de qualquer apoio só chamar.

[2020-10-02 01:38] eliasreis54 commented on #47
Combinado!
Uma pergunta, você já configurou as variáveis de ambiente `DOCKER_USERNAME` e `DOCKER_PASSWORD` no github actions ou em algum lugar que possa configurar essas envs?

[2020-10-02 01:40] PauloGoncalvesBH commented on #47
Nada meu caro, irei configurar ambos com os dados do docker hub.

[2020-10-02 01:42] PauloGoncalvesBH commented on #47
Pronto.
Coloquei o secret com esse nome para ser fácil de identificar no futuro a que se refere.
Basta colocar na pipeline que a variável de ambiente DOCKER_USERNAME é o secret DOCKER_HUB_USERNAME.

![Captura de tela de 2020-10-01 22-42-12](https://user-images.githubusercontent.com/29241659/94879709-63434f00-0437-11eb-9548-ae0e69380d71.png)

[2020-10-02 01:44] PauloGoncalvesBH commented on #47
@eliasreis54 vou te adicionar como colaborador temporariamente para poder criar branch aqui no repositório ao invés de fork. Acredito que vai ajudar a desenvolver essa feature.

[2020-10-02 01:47] eliasreis54 commented on #47
Ok @PauloGoncalvesBH, mas acredito que consigo configurar no fork mesmo.
Como o push no docker hub só vai poder ser feito caso seja um push na `trunk` acredito que não ficar poluindo o repositório oficial é até melhor.
O que você acha?

[2020-10-02 01:48] PauloGoncalvesBH commented on #47
@eliasreis54 se for possível apagar o que enviarmos lá, pode poluir a vontade nos testes. Não sei se tem como excluir imagem postada.

[2020-10-02 01:50] eliasreis54 commented on #47
Maravilha. Como vamos postar várias imagens com a mesma tag, vai acabar sobrescrevendo sempre a mesma imagem.
Mas vou fazendo os testes...

[2020-10-02 01:53] PauloGoncalvesBH commented on #47
Pra fazer esse teste de integração contínua vai ter que:
2. Excluir todos os plugins do .releaserc para que não publiquemos novas release por engano (para corrigir vai dar um trabalhão)
3. Deixar dentro do plugin do .releaserc apenas a action [semantic-release-docker](https://github.com/felixfbecker/semantic-release-docker)

Recomendo fortemente você usar a branch `beta`, pois a entrega contínua e

[2020-10-02 04:16] gomex commented on #131
Gostei dessa task ;) Vou mandar um PR.

[2020-10-02 04:36] rustnnes commented on #131
Ae @gomex, mandei PR ainda há pouco :sweat_smile:

[2020-10-02 12:58] #131 closed, assigned to rustnnes

[2020-10-02 13:46] PauloGoncalvesBH commented on #47
@eliasreis54 a entrega contínua do docker funcionou :tada:
https://hub.docker.com/repository/docker/paulogoncalvesbh/serverest
_vou ter que ajustar o README do hub.docker_

Agora só precisamos verificar se o makefile (se ajustar será preciso ajustar a seção do makefile no contributing) e o dockerfile estão corretos.
A parte do README.md de usar o docker pode ajustar também, colocando badge caso ex

[2020-10-02 13:48] eliasreis54 commented on #47
Que legal @PauloGoncalvesBH maravilha que deu certo.
Lembrando que precisa voltar os plugins do semantic-release que removemos. Certo?
Vou testar fazer um pull da imagem aqui e subir localmente.

[2020-10-02 13:49] eliasreis54 commented on #47
Uma pergunta, vocês tem algum servidor no discord ou no slack que a gente possa conversar por chat?

[2020-10-02 13:54] PauloGoncalvesBH commented on #47
@all-contributors please add @eliasreis54 for infra

[2020-10-02 13:55] PauloGoncalvesBH commented on #47
tenho nenhum dos 2 Elias, consigo ter acesso a eles apenas à noite. Por ora pode me contatar no linkedin: https://www.linkedin.com/in/paulo-goncalves/

[2020-10-02 14:38] eliasreis54 commented on #47
@PauloGoncalvesBH eu voltei os plugins do semantic release que removemos para testar e também tentei adicionar algumas instruções de como rodar com `docker` no README do projeto.

[2020-10-02 16:08] #47 closed

[2020-10-02 16:12] PauloGoncalvesBH commented on #131
:tada: This issue has been resolved in version 2.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.12.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.12.0)
- `v2.12.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-02 16:12] PauloGoncalvesBH commented on #47
:tada: This issue has been resolved in version 2.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.12.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.12.0)
- `v2.12.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-02 16:14] eliasreis54 commented on #47
@PauloGoncalvesBH foi muito legal poder contribuir com seu projeto!
Vou acompanhando a criação das issues, pra continuar colaborando =)
Agora ta sem nenhuma =(

[2020-10-02 16:16] PauloGoncalvesBH commented on #47
@eliasreis54 esse fim de semana vou procurar pontos de melhoria. Se abrir alguma te falo.
Muito obrigado pelas contribuições, sua ajuda foi inestimável.

[2020-10-12 19:26] PauloGoncalvesBH opened #158 "Erro 500 - Rota de produtos com a nova propriedade /imagem"
**Descreva o bug**
No monitoramento do moesif surgiu erro 500 na rota de /produtos. E pelos detalhes da request o usuário utilizou a nova propriedade /imagem (incluído no PR #134) da rota POST /produtos com o Postman.

**Reproduzir**
Acessar o Postman v7.26.5 e realizar POST em /produtos com o seguinte body:

[code]

Response:

[code]

**Comportamento esperado**
O cadastro deveria ter retorno 400

[2020-10-12 19:30] PauloGoncalvesBH commented on #158
@eliasreis54 essa issue pode te interessar. Se quiser atuar nela te coloco como _assignee_, senão eu atuo nela.

[2020-10-12 19:36] eliasreis54 commented on #158
Oi @PauloGoncalvesBH, pode me colocar sim, por favor. Já vou dar uma olhada o que pode ser.

[2020-10-12 19:51] eliasreis54 commented on #158
@PauloGoncalvesBH, uma dúvida, você conseguiu reproduzir o erro seguindo os passos informados?
Estou testando aqui no meu ambiente e parece tudo ok.

[2020-10-12 19:52] PauloGoncalvesBH commented on #158
Não :/ apenas vi o erro no monitoramento e abri a issue. Comparei o body da request c o model de /produtos e vi nada errado

[2020-10-12 19:55] PauloGoncalvesBH commented on #158
O que podemos fazer é ver o histórico de requests desse usuário em específico para repetirmos e termos os mesmos dados no .db q ele tem. Talvez assim o erro ocorra.
Essa lista não consigo fazer nesse exato momento, apenas mais tarde. Quando possível respondo aqui com ela.

[2020-10-12 19:56] eliasreis54 commented on #158
Boa, já ajuda a tentar localizar o erro.
Aguardo =)

[2020-10-13 02:34] PauloGoncalvesBH commented on #158
@eliasreis54 aqui estão os dados para analisarmos o erro:
[Dashboard moesif](https://www.moesif.com/public/eyJhcHAiOiIxNTA6MTU1MCIsImF1ZCI6IjZ1WjBuT2pmcnI4TklqNHI4STZOTnVyU3ZGN1ZZMm1MIiwidmVyIjoiMSIsIm9yZyI6IjQ5MToxMTIxIiwicGVybWlzc2lvbnMiOnsiNDkxOjExMjEiOnsic2NwIjoicmVhZDpwdWJsaWNfd29ya3NwYWNlcyJ9fSwiaXNzIjoiaHR0cHM6Ly93d3cubW9lc2lmLmNvbS93cmFwL2FwcC80OTE6MTEyMS0xNTA6MTU1MCIsIm9pZCI6IndvcmtzcGFjZ

[2020-10-13 02:50] PauloGoncalvesBH opened #159 "Adequação à LGPD"
**Sua solicitação de recurso está relacionada a um problema? Por favor descreva.**
O ServeRest não está adequado à LGPD, embora não use os dados coletados para fins de ganhos financeiros.

**Descreva a solução que você deseja**
Precisamos informar aos usuários logo após a execução do ServeRest de que coletamos o nome de usuário da máquina da pessoa para entendermos o uso que ela faz e fazer os aju

[2020-10-14 13:45] PauloGoncalvesBH commented on #158
@eliasreis54 vou fechar essa issue.
Contatei o Patrick Bremm e ele me explicou que o erro ocorre pois está alterando o código com fins de estudos.
Me desesperei atoa kkkkk
Muito obrigado pela disponibilidade de qualquer forma

[2020-10-14 13:47] #158 closed, assigned to eliasreis54

[2020-10-14 22:48] eliasreis54 commented on #158
Oi @PauloGoncalvesBH, desculpe e demora em responder aqui... Mas que bom que não é um bug! hahahah
Tamo junto! Caso haja alguma outra issue que eu puder ajudar, será um prazer!

[2020-10-16 19:42] #159 closed, assigned to PauloGoncalvesBH

[2020-10-16 19:45] PauloGoncalvesBH commented on #159
:tada: This issue has been resolved in version 2.16.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.16.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.16.0)
- `v2.16.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-01 02:06] PauloGoncalvesBH opened #165 "Mover a documentação do apiary para o swagger UI"
**Sua solicitação de recurso está relacionada a um problema? Por favor descreva.**
1. A documentação atual não é tão clara e sucinta igual uma gerada no swagger UI.
1. Não é possível o usuário consumir as APIs de forma amigável, pois não há campo para realizar as requests.
1. Outro problema é de que para edição da doc atual é preciso fornecer acesso à ferramenta apiary, o que é inviável. Com swagg

[2020-12-02 17:44] PauloGoncalvesBH opened #180 "Executar teste de mutação apenas para arquivos alterados"
Agora ao invés de rodar teste de mutação para todos os arquivos, o que demora aproximadamente 19 minutos, irá rodar apenas nos arquivos _JS_ em _/src_ que foram alterados na branch do PR. Com isso a execução será muito mais rápida e vai possibilitar que faça parte da pipeline de entrega contínua.

Essa issue já está em andamento no PR #172
Será utilizada a lib [stryker-diff-runner](https://www.npm

[2020-12-02 17:48] PauloGoncalvesBH opened #181 "Implementar GraphQL"
Será criado nova rota utilizando GraphQL.
Assim que possuir mais detalhes serão inseridos aqui.

[2020-12-07 05:59] PauloGoncalvesBH opened #182 "Implementar stub nos testes"
Muitos testes podem ter trechos substituídos por stubs, reduzindo a quantidade de requests e dependências.
Implementação está sendo feita na branch _stub-test._

[2020-12-08 01:11] #182 closed, assigned to nobody

[2020-12-08 15:03] PauloGoncalvesBH commented on #182
:tada: This issue has been resolved in version 2.20.0-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/serverest/v/2.20.0-beta.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.20.0-beta.1)
- `v2.20.0-beta.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::ro

[2020-12-08 15:17] PauloGoncalvesBH opened #188 "Implementar testes de regressão"
Após o deploy em serverest.dev e da publicação de novas versões no NPM e Docker (seja @beta ou @latest), é preciso executar os testes de regressão pra validar se o comportamento do ServeRest está como esperado.

1. Taguear alguns dos testes como @regressao.
1. Executar os testes na pipeline de [entrega contínua](https://github.com/PauloGoncalvesBH/ServeRest/blob/trunk/.github/workflows/continuous_

[2020-12-08 16:16] PauloGoncalvesBH commented on #182
:tada: This issue has been resolved in version 2.20.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.20.0)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.20.0)
- `v2.20.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-16 02:23] PauloGoncalvesBH opened #192 "Incluir maximilianoalves como colaborador"
O Max apresentou o ServeRest na sua talk sobre testes de API com Cypress.

[2020-12-16 02:23] PauloGoncalvesBH commented on #192
@all-contributors please add @maximilianoalves for talk

[2020-12-16 02:29] #192 closed, assigned to nobody

[2021-01-12 13:52] #180 closed, assigned to nobody

[2021-01-16 05:31] PauloGoncalvesBH opened #201 "Incluir logo de empresas na documentação"
Adicionar na seção de empresas que utilizam o ServeRest, no README, a logo das empresas:
1. Trybe (Escola de programação)
1. AILOS - Sistema de cooperativas de crédito
1. Ânima Educação

[2021-01-19 16:46] wlsf82 opened #202 "Erro ao acessar http://localhost:3000/ com Docker"
Estou testando o ServeRest com Docker, e ao acessar `http://localhost:3000/` no navegador, recebo a seguinte mensagem:

[code]

[2021-01-19 16:48] wlsf82 commented on #202
Vale comentar que ao acessar `http://localhost:3000/usuarios`, parece que funciona (ver abaixo).

[code]

[2021-01-19 20:51] wlsf82 commented on #202
Cc @PauloGoncalvesBH

[2021-01-20 20:23] PauloGoncalvesBH commented on #202
obrigado pelo reporte @wlsf82, vou procurar corrigir em breve.

[2021-01-22 00:06] mayribeirofernandes opened #203 "Sugestão de acréscimo de link na documentação (exemplo de uso com Robot Framework)"
**Documentação**
Sugestão de link para o README do projeto. Adicionar no item "**Exemplos de automação**" esse exemplo com Robot Framework.

https://github.com/mayribeirofernandes/testesrobotframework/tree/master/ExemploAPI_ServeRest

[2021-01-22 01:17] PauloGoncalvesBH commented on #203
@mayribeirofernandes vou incluir. Sabe me dizer quando o código será implementado?

[2021-01-22 02:42] PauloGoncalvesBH commented on #180
:tada: This issue has been resolved in version 2.20.2-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/serverest/v/2.20.2-beta.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.20.2-beta.1)
- `v2.20.2-beta.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::ro

[2021-01-22 02:42] PauloGoncalvesBH commented on #202
:tada: This issue has been resolved in version 2.20.2-beta.1 :tada:

The release is available on:
- [npm package (@beta dist-tag)](https://www.npmjs.com/package/serverest/v/2.20.2-beta.1)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.20.2-beta.1)
- `v2.20.2-beta.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::ro

[2021-01-22 02:51] #202 closed, assigned to nobody

[2021-01-22 02:54] PauloGoncalvesBH commented on #202
:tada: This issue has been resolved in version 2.20.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.20.2)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.20.2)
- `v2.20.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-22 02:54] PauloGoncalvesBH commented on #180
:tada: This issue has been resolved in version 2.20.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.20.2)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.20.2)
- `v2.20.2`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-22 03:09] #201 closed, assigned to nobody

[2021-01-22 03:25] PauloGoncalvesBH commented on #203
@mayribeirofernandes o que acha dessa solução?

[![Captura de tela de 2021-01-22 00-24-09](https://user-images.githubusercontent.com/29241659/105441875-3914d780-5c48-11eb-89a7-07772100a857.png)](https://github.com/PauloGoncalvesBH/ServeRest/tree/58df655d7b182d837d38cb5f6297ef665f03db92#exemplos-de-automa%C3%A7%C3%A3o)

[2021-01-22 03:26] #188 closed, assigned to nobody

[2021-01-22 11:47] mayribeirofernandes commented on #203
Perfeito! Obrigada!!!

[2021-01-22 12:00] #203 closed, assigned to PauloGoncalvesBH

[2021-01-23 22:07] PauloGoncalvesBH opened #206 "Migrar hospedagem da Umbler para Vercel"
Necessita de estudos sobre as alterações necessárias de código.

Intuito dessa migração é ter preview do front e back nos PRs.

[2021-01-23 22:09] PauloGoncalvesBH opened #207 "Migrar de Mocha, Chai e Nyc para Jest"

[2021-01-23 22:10] PauloGoncalvesBH opened #208 "Refatorar as controllers"

[2021-01-23 22:12] PauloGoncalvesBH opened #209 "Refatorar alguns dos testes de integração para unitários"
Todos os testes estão na camada de integração e podem ser movidos para a camada de testes unitários.

Necessita de análise.

[2021-01-23 22:13] PauloGoncalvesBH commented on #165
Já há branch aberta com implementação parcial dessa issue. Impedimento atual é de que com Swagger não é possível ter bodys diferentes para mesmo status code.

[2021-01-25 01:10] PauloGoncalvesBH opened #210 "Implementar sort"
Implementar sort nas rotas para ser utilizado pelo http://front.serverest.dev/
Analisar qual sort deve ser feito em cada rota.

[2021-01-25 01:12] PauloGoncalvesBH opened #211 "Implementar rotas de busca por ID"
Implementar nova rota em /usuarios, /carrinhos e /produtos em que a busca seja feita por ID.

Exemplo de busca por usuário de ID = 1:
GET serverest.dev/usuarios/1

[2021-02-08 15:31] PauloGoncalvesBH commented on #203
:tada: This issue has been resolved in version 2.20.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.20.3)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.20.3)
- `v2.20.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-08 15:31] PauloGoncalvesBH commented on #201
:tada: This issue has been resolved in version 2.20.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.20.3)
- [GitHub release](https://github.com/PauloGoncalvesBH/ServeRest/releases/tag/v2.20.3)
- `v2.20.3`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-13 17:00] PauloGoncalvesBH commented on #206
Não será implementado, pois com a Umbler será possível fornecer o serverest para empresas interessadas colocarem em seu subdomínio, além de que pela fácil integração tenho facilidade de limpar a base de dados quando preciso.

[2021-02-13 17:00] #206 closed, assigned to nobody

[2021-03-06 22:07] Cemanuele opened #225 "entity.parse.failed - Erro ao criar novo usuário"
**Descreva o bug**
Ao tentar incluir um novo usuário, gerou o erro 500.

**Reproduzir**
Foram enviados os seguintes dados:

Body:
{
  "nome": Fulano de Tal,
  "email": fulano@test.com,
  "password": fulano,
  "administrador": true
}

E obtive o seguinte retorno:

HTTP/1.1 500 Internal Server Error
Date: Sat, 06 Mar 2021 21:49:34 GMT
Content-Type: application/json; charset=utf-8
Content-Length: 387

[2021-03-06 22:21] PauloGoncalvesBH commented on #225
@Cemanuele obrigado pelo report, vou investigar e te informo sobre o resultado.

[2021-03-06 22:31] PauloGoncalvesBH commented on #225
@Cemanuele consegui simular o erro e encontrei uma saída contorno. Faltou aspas `"` nos valores, olha o meu exemplo abaixo com o seu body ajustado:

[code]

Vou criar solução para esse erro, mas por ora pode fazer os testes utilizando o serverest dessa forma, com aspas em todos os valores.

[2021-03-06 22:34] Cemanuele commented on #225
Obrigada pelo retorno! Vou utilizar conforme informou.
Obrigada

[2021-03-07 16:04] jnmoreno opened #229 "Serverest.Dev fora do ar - Status Code 500 ao acessar o recurso de Login"
**Descreva o bug**
Ao tentar acessar o recurso de login, a fim de obter o Token, o servidor está retornando o Status Code 500.

Outro ponte importante é o corpo da response, que traz o Status Code 400, ou seja, há uma divergência entre o retorno real do servidor, e o mapeado na response.

**Reproduzir**
Etapas para reproduzir o comportamento:
1. Enviar solicitação para `https://serverest.dev/login

[2021-03-07 16:34] PauloGoncalvesBH commented on #229
@jnmoreno já estou analisando e conversando com a empresa responsável pela hospedagem. Assim que voltar a funcionar irei te informar. Para conseguir continuar testando recomendo você usar o serverest via NPM (com `npx serverest@latest`) ou Docker (com `docker run -p 3000:3000 paulogoncalvesbh/serverest:latest`).

[2021-03-07 18:42] PauloGoncalvesBH commented on #229
Assim que severest.dev voltar ao ar a seguinte issue será fechada automaticamente: https://github.com/PauloGoncalvesBH/serverest-status-uptime/issues/53

Estou aguardando retorno da Umbler sobre a hospedagem estar fora do ar. Irei alterar a plataforma utilizada pois vi que a página está fora desde 04 da manhã.

[2021-03-08 17:58] PauloGoncalvesBH commented on #229
ServeRest, depois de mais de 24h fora, voltou ao ar.

[2021-03-08 17:58] #229 closed, assigned to nobody

[2021-03-17 23:42] #211 closed, assigned to nobody

[2021-03-18 00:07] PauloGoncalvesBH commented on #211
:tada: This issue has been resolved in version 2.22.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.22.0)
- [GitHub release](https://github.com/ServeRest/ServeRest/releases/tag/v2.22.0)
- `v2.22.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-18 21:45] DanielGoncalvesL commented on #165
openapi: 3.0.0
info:
  version: DEV
  title: Undefined Documentation
  description: |
    This is an Api Undefined
  contact:
    email: danielopesgl05@gmail.com
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
paths:
  /users:
    post:
      tags:
        - User
      summary: Create a user
      description: Create a new user
      requestBody:
        conten

[2021-04-19 23:39] #225 closed, assigned to nobody

[2021-05-03 23:04] eliasreis54 commented on #208
Olá @PauloGoncalvesBH tudo bem?
Algum ponto em específico necessita ser analisado ou seria algo mais genérico mesmo? Talvez eu possa ajudar nessa issue.

[2021-05-03 23:11] PauloGoncalvesBH commented on #208
Oi @eliasreis54, o que acontece é que as `controllers` estão totalmente confusas e nunca foram alteradas desde a primeira implementação.

Exemplo da controller POST /carrinhos:
https://github.com/ServeRest/ServeRest/blob/trunk/src/controllers/carrinhos-controller.js#L23

Se analisar esse método vai perceber que o código está seguindo nenhuma boa prática e algumas implementações poderiam ir para ou

[2021-05-03 23:16] eliasreis54 commented on #208
Entendido perfeitamente!
Irei atuar nessa issue.

[2021-05-03 23:25] PauloGoncalvesBH commented on #208
perfeito @eliasreis54, se tiver qualquer dúvida pode me chamar aonde preferir (github, linkedin, etc).
Te coloquei como assignee da issue.

[2021-05-16 02:57] #165 closed, assigned to PauloGoncalvesBH

[2021-05-16 03:46] PauloGoncalvesBH commented on #165
:tada: This issue has been resolved in version 2.24.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.24.1)
- [GitHub release](https://github.com/ServeRest/ServeRest/releases/tag/v2.24.1)
- `v2.24.1`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-18 09:52] leandromuto commented on #50
Is this the right time to bring this issue back? 😁

[2021-05-18 12:20] PauloGoncalvesBH commented on #50
Será criada nova documentação e rotas a partir da `/en`.

**É preciso:**
1. Entender como centralizar os textos das respostas das requests em um JSON e fornecer ele como material de tradução.
2. Como fazer um de/para das propriedades do JSON das respostas
     1. Será criado novo banco separado e em inglês?
     1. Será mantido o mesmo banco, fazendo o de/para dos dados?

Após a tradução é preciso

[2021-05-18 12:48] leandromuto commented on #50
Sei que é importante pensar no quão acessível é o conteúdo para pessoas brasileiras não falantes da língua inglesa, mas tem algum outro motivo para manter uma rota para cada língua?

[2021-05-18 13:07] PauloGoncalvesBH commented on #50
eu não vejo impedimento de ter rota para ambas, o que tem em mente?

[2021-05-18 15:18] leandromuto commented on #50
Talvez mudar tudo para inglês e não manter uma tradução em português, assim evitaria os pontos mencionados e outros possíveis problemas que não estão no radar.

[2021-05-18 16:52] PauloGoncalvesBH commented on #50
@leandromuto o problema dessa abordagem é que gerar breaking change, além do ServeRest passar a não ser mais tão acessível para o público BR.
Gostaria de manter o PT-BR e EN, mas ainda estou em dúvida sobre se será uma nova rota `/en` ou outra estratégia. Se tiver mais argumentos para embasar do porquê ser todo em inglês pode enviar, ainda não estou firme no meu posicionamento.

[2021-05-18 19:07] leandromuto commented on #50
Acredito que de qualquer modo causará uma braking change, pois todos os lugares que utilizam o ServeRest não passam a língua desejada.

E, ao invés de criar uma rota `/en`, não seria melhor passar um `Accepted-Language` no header e por default ser Inglês?  Mais sobre [Accepted-Language](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language).

[2021-07-06 23:10] PauloGoncalvesBH commented on #207
Implementação abandonada pois o Jest está com tempo de duração mais que o dobro que o Mocha.
No teste de integração o impacto é baixo (10 segundos de diferença), porém no teste de mutação aumenta a duração de 20 minutos para 50.
PR #259

[2021-07-06 23:10] #207 closed, assigned to nobody

[2021-08-09 01:53] PauloGoncalvesBH opened #272 "INDISPONIBILIDADE SERVEREST.DEV - A PARTIR DE 23H DO DOMINGO 08/08"
Olá pessoal,

A partir de 23h a página https://serverest.dev/ entrará em manutenção, e por consequência deve ficar indisponível.

A manutenção tem o intuito de migrar a hospedagem da [Umbler](https://umbler.com/br) para a [AWS](https://aws.amazon.com/pt/), e quando for ocorrer a configuração de DNS é que a indisponibilidade ocorrerá.

Essa migração é necessária pois a Umbler não está mais aceitand

[2021-08-21 15:32] #272 closed, assigned to nobody

[2021-11-22 19:05] tqiggonsalves opened #302 "Problema para automatizar por causa do # no link da API"
Não consigo prosseguir e é por causa do "#", existe alguma outra forma de declarar esse link ?
![image](https://user-images.githubusercontent.com/90618483/142920435-4e78e164-209e-4e3d-b57c-cbefbecf903b.png)

[2021-11-24 04:57] PauloGoncalvesBH commented on #302
oi @tqiggonsalves, o ServeRest não possui # nas rotas, acredito que houve uma pequena confusão.
Ao invés de fazer POST em `/#/Login/post_login` faça em `/login`.

A própria mensagem de erro e o status code 405 indicam que não é possível utilizar essa rota com esse verbo.

Depois me informe se deu certo com a alteração que sugeri.

[2021-11-24 22:31] edumaxsantos commented on #208
Alguma atualização de status quanto a refatoração?

[2021-11-25 00:23] leoGalani commented on #208
Isso está afetando o seu uso?  Se sim... PR sao bem vindas ;)

[2021-11-25 01:00] PauloGoncalvesBH commented on #208
oi @edumaxsantos, não teve PR para essa refatoração e acabo não tendo muito tempo para dedicar com esse assunto específico já que é feito nas horas vagas.
Estou procurando novos colaboradores, caso queira colaborar essa é uma boa task para pessoas que querem começar no mundo do open source.
O material [como contribuir](https://github.com/ServeRest/ServeRest/blob/9d9febd847c73342af60080135c0235f854

[2021-11-25 12:19] tqiggonsalves commented on #302
OI Paulo, bom dia, deu certo sim! estou usando sua API para fazer uma POC de automação, nossa ela é muito boa meus Parabéns !!!!!!!!!!!!!!!! Valeu mesmo!

[2021-11-25 13:04] PauloGoncalvesBH commented on #302
Fico muito feliz de saber que a solução deu certo e que o ServeRest está sendo de grande valia para ti :D :D
Com isso vou fechar a issue, se tiver novas dúvidas pode abrir uma nova issue

[2021-11-25 13:04] #302 closed, assigned to nobody

[2021-11-27 13:02] edumaxsantos commented on #208
Olá! Estou dando uma olhada no que posso fazer. Já fiz algumas refatorações iniciais, mas ainda não está boa. Vou continuar mexendo nisso no meu tempo livre.

[2021-11-27 17:33] PauloGoncalvesBH commented on #208
oi Edu, nesse caso o que acha de abrir um PR para eu ir dando uma olhada enquanto implementa?

[2021-11-28 23:25] edumaxsantos commented on #208
Boa noite! Criei um draft #303 de PR para o carrinhos-controller, específico para o método POST. Como é a primeira vez que envio um PR para projeto open source, peço que me deem um feedback do que poderia melhorar

[2021-12-20 00:22] fockboi-lgtm opened #310 "[Security] Workflow continuous_delivery.yml is using vulnerable action wagoid/commitlint-github-action"
The workflow continuous_delivery.yml is referencing action wagoid/commitlint-github-action using references v3. However this reference is missing the commit [bf83d2b35c4177779d047f464b48d9907f2c5201](https://github.com/wagoid/commitlint-github-action/commits/bf83d2b35c4177779d047f464b48d9907f2c5201) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions v

[2022-01-04 17:26] PauloGoncalvesBH opened #311 "ServeRest.dev fora do ar"
Para acompanhar o status do ServeRest.dev fora do ar acesse: https://opencollective.com/serverest/updates/serverest-dev-fora-do-ar

Como saída contorno recomendo que subam o ServeRest localmente, utilizando NPM ou Docker.
Para saber como executar localmente, acesse: https://github.com/Serverest/Serverest#readme

[2022-01-07 16:52] PauloGoncalvesBH commented on #311
ServeRest está de volta, disponível em https://serverest.dev/

[2022-01-07 16:52] #311 closed, assigned to nobody

[2022-06-05 22:06] benjaminpinto opened #332 "Rota de edição de produto com resposta imprecisa"
Na rota de edição de produtos (/produtos/{_id}), ao dar PUT devidamente autenticado, mas com um _id de produto inexistente, a resposta é 400 - Já existe produto com esse nome.

Esse cenário poderia retornar outro código, com mensagem mais precisa, como 'Produto não encontrado' ou 'Edição não realizada'.

Código da spec:
![specCode](https://user-images.githubusercontent.com/232773/172072450-578c6d0

[2022-06-05 22:12] benjaminpinto commented on #332
Erro meu. Está na especificação que uma chamada à edição que não encontre o produto deve cadastrá-lo.

[2022-06-05 22:12] #332 closed, assigned to nobody

[2022-06-06 00:31] PauloGoncalvesBH commented on #332
Oi @benjaminpinto, que bom que não era um problema e conseguiu prosseguir.
Se achar que o fluxo está errado pode informar :D

[2022-06-06 02:47] benjaminpinto commented on #332
Valeu @PauloGoncalvesBH. Tudo aqui é ótimo para que possamos praticar os testes. Excelente trabalho!

[2022-06-08 19:01] PauloGoncalvesBH commented on #332
fico muito feliz de saber que gosta do ServeRest :D

[2022-06-19 03:48] #310 closed, assigned to nobody

[2022-06-19 19:36] PauloGoncalvesBH commented on #310
:tada: This issue has been resolved in version 2.26.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.26.0)
- [GitHub release](https://github.com/ServeRest/ServeRest/releases/tag/v2.26.0)
- `v2.26.0`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-20 23:52] PauloGoncalvesBH commented on #208
A controller de POST de /carrinhos foi refatorada e entregue, obrigado @edumaxsantos

[2022-06-20 23:56] PauloGoncalvesBH opened #336 "Reconhecimento pelo apoio: Cristina Nazário"
@all-contributors please add @crisnazario for ideas

[2022-06-21 00:00] PauloGoncalvesBH commented on #336
Acorda bot

[2022-06-21 01:26] PauloGoncalvesBH commented on #336
@all-contributors please add @crisnazario for ideas

[2022-06-21 03:09] #336 closed, assigned to nobody

[2022-07-18 22:21] clascleo opened #350 "token"
Olá, sou nova na area de QA e estou usando a API do Serverest no postman, a fim de aprender, porém acredito que seja necessário token para usar os métodos, e não encontrei onde gero esse token, na tela de login aparece um erro e não gera o token. Será que podes me ajudar, considerando que meu conhecimento é de super iniciante...obrigada.

[2022-07-20 18:01] dittrichlucas commented on #350
Olá @clascleo! Se você estiver utilizando como **URL base** o `https://serverest.dev/`, o erro pode estar no seu **body**. Segue um exemplo onde eu utilizo os dados da documentação (https://serverest.dev/#/Login/post_login):

![Imgur](https://i.imgur.com/H8MAYRT.png)

Caso o acesso seja local, compartilha aqui o erro que deu ou um print.

[2022-07-21 18:49] Ewertonalex opened #351 "Reconhecer valor com número decimal"
**Descreva o bug**
Ao tentar realizar uma validação de cadastro de produto com preço com valor em número decimal (float), por exemplo, 'preço': 5.6 a API retorna que o preço só pode ser um número inteiro. Sugiro tal na API que poderia retornar o Cadastro realizado com sucesso para estes testes.

![image](https://user-images.githubusercontent.com/91163104/180291509-77286829-eb6a-4254-9057-3f72bac2a

[2022-07-26 14:06] PauloGoncalvesBH commented on #350
Oi @clascleo, o @dittrichlucas fez um bom complemento, consegue passar mais detalhes sobre o problema?

[2022-07-31 10:30] raulpacheco2k opened #352 "Evitar que usuários utilizam e-mail e senhas pessoais"
Realizando algumas automações percebi que o usuário que cadastramos fica expostos para todos que realizarem uma requisição em `GET /usuarios`, isso é perigoso, pois, dado que uma pessoa leiga esteja realizando algumas automações, este pode utilizar dados pessoais (e-mail e senha) para cadastrar um usuário e alguém mal intencionado pode criar um outro serviço para ficar observando este endpoint par

[2022-07-31 10:32] raulpacheco2k commented on #352
Infelizmente conheço algo próximo à 0 de JavaScript e pouco poderia ajudar, além da ideia, a desenvolver algo a respeito disso.

[2022-08-08 20:02] clascleo commented on #350
Olá, obrigada pelo retorno, o erro era que em vez de por "https" eu estava
colocando sem o "s", agora deu certo.

Em ter., 26 de jul. de 2022 às 11:06, Paulo Gonçalves <
***@***.***> escreveu:

--
*Att.*
*Cleonice A. Souza*
*99737441*

[2022-09-03 21:54] github-actions[bot] opened #359 "Staging tests failed"
### Context
[Failed Run](https://github.com/ServeRest/ServeRest/actions/runs/2985909560)
[Codebase](https://github.com/ServeRest/ServeRest/tree/5ba071ae4b98089bdb780b16fee810327f5d36f5)
Workflow name - `Deploy ServeRest on the web`
Job -           `open-issue-staging`
status -        `success`

[2022-09-03 21:55] #359 closed, assigned to PauloGoncalvesBH

[2022-09-03 22:08] github-actions[bot] opened #360 "Staging tests failed"
The attempt to deploy the $GITHUB_REF_NAME tag failed. Staging tests failed and because of that the version $GITHUB_REF_NAME was not sent to production.

_This is an automatically generated issue_

## Context

|                   	| Detail                                                                        	|
|-------------------	|----------------------------------------------------------------

[2022-09-03 22:12] #360 closed, assigned to PauloGoncalvesBH

[2022-09-03 22:12] github-actions[bot] opened #361 "Staging tests failed"
_This is an automatically generated issue_

The attempt to deploy the "$GITHUB_REF_NAME" tag failed. Staging tests failed and because of that the version "$GITHUB_REF_NAME" was not sent to production.

## Context

|                   	| Detail                                                                        	|
|-------------------	|------------------------------------------------------------

[2022-09-03 22:13] #361 closed, assigned to PauloGoncalvesBH

[2022-09-03 22:16] github-actions[bot] opened #362 "Staging tests failed"
_This is an automatically generated issue_

The attempt to deploy the refs/heads/open-issue tag failed. Staging tests failed and because of that the version refs/heads/open-issue was not sent to production.

## Context

|                   	| Detail                                                                        	|
|-------------------	|------------------------------------------------------

[2022-09-03 22:17] #362 closed, assigned to PauloGoncalvesBH

[2022-09-03 23:17] github-actions[bot] opened #363 "Production tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/heads/open-issue` tag failed. Production tests failed.

## Context

|                               | Detail                                                                        	|
|-------------------            |-------------------------------------------------------------------------------	|
| **Failed Run**

[2022-09-03 23:20] github-actions[bot] opened #364 "Production tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/heads/open-issue` tag failed. Production tests failed.

## Context

|                               | Detail                                                                        	|
|-------------------            |-------------------------------------------------------------------------------	|
| **Failed Run**

[2022-09-03 23:21] #363 closed, assigned to PauloGoncalvesBH

[2022-09-03 23:22] #364 closed, assigned to PauloGoncalvesBH

[2022-09-03 23:23] github-actions[bot] opened #365 "Production tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/heads/open-issue` tag failed. Production tests failed.

## Context

|                               | Detail                                                                        	|
|-------------------            |-------------------------------------------------------------------------------	|
| **Failed Run**

[2022-09-03 23:24] #365 closed, assigned to PauloGoncalvesBH

[2022-09-03 23:26] github-actions[bot] opened #366 "Production tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/heads/open-issue` tag failed. Production tests failed.

## Context

|                               | Detail                                                                        	|
|-------------------            |-------------------------------------------------------------------------------	|
| **Failed Run**

[2022-09-03 23:28] #366 closed, assigned to PauloGoncalvesBH

[2022-09-03 23:29] github-actions[bot] opened #367 "Production tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/heads/open-issue` tag failed. Production tests failed.

## Context

|                               | Detail                                                                        	|
|-------------------            |-------------------------------------------------------------------------------	|
| **Failed Run**

[2022-09-03 23:31] #367 closed, assigned to PauloGoncalvesBH

[2022-09-03 23:31] github-actions[bot] opened #368 "Production tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/heads/open-issue` tag failed. Production tests failed.

## Context

|                               | Detail                                                                        	|
|-------------------            |-------------------------------------------------------------------------------	|
| **Failed Run**

[2022-09-03 23:43] #368 closed, assigned to PauloGoncalvesBH

[2022-09-24 19:51] edumaxsantos commented on #350
Acredito que essa issue possa ser fechada, dado que o problema foi resolvido.

[2022-10-13 20:11] KekaLopo opened #375 "Erro no response body do metodo GET PRODUTO"
**Descreva o bug**
Na aba de produtos quando click nos detalhes do get produto ,
o corpo do response body deveria listar os seguites objetos json

mas o que é listado é o seguinte objeto json

{
"quantidade":int,
"usuarios":{}
}
**Reproduzir**
Etapas para reproduzir o comportamento:
1. acessar o https://serverest.dev/ ou o localhost:3000
2. na aba de produtos
3. Clickar no GET PRODUTOS e analisar

[2022-10-14 12:56] #375 closed, assigned to nobody

[2022-10-14 12:58] PauloGoncalvesBH commented on #375
Oi João, muito obrigado por reportar esse bug, acabei de fazer a correção e em alguns minutos estará disponível em produção.

[2022-10-14 13:22] PauloGoncalvesBH commented on #375
:tada: This issue has been resolved in version 2.26.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/serverest/v/2.26.4)
- [GitHub release](https://github.com/ServeRest/ServeRest/releases/tag/v2.26.4)
- `v2.26.4`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-17 21:51] edumaxsantos opened #377 "Falha na execução de testes de integração"
**Descreva o bug**
Supertest falha ao tentar a propriedade address.
O erro acontece com todos os testes de integração.
Mensagem que aparece no terminal: TypeError: Cannot read properties of undefined (reading 'address')
      at Test.serverAddress (node_modules\supertest\lib\test.js:57:18)
      at new Test (node_modules\supertest\lib\test.js:38:12)
      at Object.obj.<computed> [as post] (node_m

[2022-10-17 22:44] edumaxsantos commented on #377
O problema era a falta de definição da variável de ambiente TEST_TYPE como integration.

Não seria bom se ao executarmos o comando de `npm run test:integration` essa variável de ambiente já seja definida também?

[2022-10-18 14:30] PauloGoncalvesBH commented on #377
oi @edumaxsantos, tudo bem?

Eu utilizo o `docker compose` para executar os testes, então nele já tem definido a variábel de ambiente `TEST_TYPE`.
Você pode executar o teste das seguintes maneiras:

1. Com o comando `make test-integration` (se estiver no linux/mac), é o comando "oficial".
2. Se usar windows mas tiver docker atualizado, pode usar `docker compose up --abort-on-container-exit  --buil

[2022-10-18 15:20] PauloGoncalvesBH commented on #377
Me avise se conseguiu executar os testes :D

[2022-10-18 15:29] edumaxsantos commented on #377
Consegui sim.

Ontem mesmo consegui alterando os scripts para adicionar a variável de ambiente antes da execução.

Agora com essa forma utilizando o docker, removi essas alterações e continuarei a utilizar por meio do docker, mantendo assim o padrão.

Estou fechando a issue, pois o problema foi solucionado.

Obrigado pela ajuda, Paulo!

[2022-10-18 15:29] #377 closed, assigned to nobody

[2022-10-18 17:26] PauloGoncalvesBH commented on #350
Verdade @edumaxsantos, fechando ela

[2022-10-18 17:26] #350 closed, assigned to nobody

[2022-10-18 21:43] edumaxsantos commented on #208
Boa noite! Criei um draft com mais refatoração para o controller de carrinhos. A maior parte da refatoração foi mover qualquer coisa relacionada com outros serviços para carrinhosService.

[2022-10-19 17:25] edumaxsantos commented on #351
Comecei algumas alterações para isso, porém não seria possível colocar na versão atual, já que causaria breaking changes na API. Acredito que só seria possível em uma eventual versão 3.x

[2022-10-19 17:41] edumaxsantos commented on #208
Acredito que já seria interessante continuar as refatorações aplicando também a tradução para inglês do que for alterado nos controllers com base na issue https://github.com/ServeRest/ServeRest/issues/50.

[2022-10-19 22:46] PauloGoncalvesBH commented on #208
concordo contigo @edumaxsantos, o que acha de entrar na discussão da issue de como deve ser feita essa tradução procurando o mínimo impacto para os atuais usuários do ServeRest em PT-BR?

[2022-10-20 12:15] edumaxsantos commented on #208
Vou entrar, sim.

[2022-10-20 18:11] edumaxsantos commented on #50
Como o projeto iniciou em português, acredito que o default, ao menos agora, deveria ser o português.

Existe também uma outra alternativa além das citadas, utilizar um `query parameter` indicando a lang desejada. Entendo que usando `Accepted-Language` seria mais "restful", porém vejo um certo padrão em APIs de utilizar query para selecionar o idioma.

Um outro tópico que queria trazer aqui é a re

[2022-10-20 21:42] PauloGoncalvesBH commented on #50
@edumaxsantos a parte do código já começar a ser traduzido faz total sentido, vou olhar para a parte de traduzir a documentação.

[2022-10-20 21:48] edumaxsantos commented on #50
Certo! Parte dos controllers já tem código em inglês. Vou continuar a migração do idioma e posso auxiliar na documentação também

[2022-10-21 00:51] edumaxsantos commented on #50
Fiz alguns commits na branch `refactoring/produtos-controller` que inicia uma transição do código para inglês.

[2022-10-27 22:48] github-actions[bot] opened #379 "Staging tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/tags/v2.26.5` tag failed. Staging tests failed and because of that the version `refs/tags/v2.26.5` was not sent to production.

## Context

|                           | Detail                                                                        	|
|--------------------------	|--------------------------------------------

[2022-10-27 22:48] github-actions[bot] opened #380 "Production tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/tags/v2.26.5` tag failed. Production tests failed.

## Context

|                          | Detail                                                                        	|
|------------------------- |-------------------------------------------------------------------------------	|
| **Failed Run**           | https://git

[2022-10-27 22:49] #379 closed, assigned to PauloGoncalvesBH

[2022-10-27 22:49] #380 closed, assigned to PauloGoncalvesBH

[2022-10-28 20:53] github-actions[bot] opened #381 "Production tests failed - Deploy aborted"
_This is an automatically generated issue_

The attempt to deploy the `refs/tags/v2.26.6` tag failed. Production tests failed.

## Context

|                          | Detail                                                                        	|
|------------------------- |-------------------------------------------------------------------------------	|
| **Failed Run**           | https://git

[2022-10-29 22:43] #381 closed, assigned to PauloGoncalvesBH

[2022-10-29 22:46] PauloGoncalvesBH opened #382 "Implement test to validate if requests are being sent to moesif (use tool like wiremock or mountebank)"